body{
  overflow-y: hidden;
  background-color: floralwhite;
}

.node .selected {
  stroke: rgb(83, 185, 199);
}

.node {
  stroke: rgb(158, 147, 147);
}

.link {
  stroke: rgb(158, 147, 147);
}

.bar {
  fill: steelblue;
  opacity: 0.2;
}

/* .axis {
	font: 10px sans-serif;
} */

.axis path,
.axis line {
  fill: none;
  /* stroke: #D4D8DA; */
  stroke-width: 0.5px;
  shape-rendering: crispEdges;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: cadetblue;
  /* stroke: steelblue;
  stroke-width: 5px; */
}
  
.hover-line {
  stroke: cadetblue;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.line {
  fill: none;
  stroke: cadetblue;
  stroke-width: 2px;
	clip-path: url(#clip);
}


#slider body {
  font-family:"avenir next", Arial, sans-serif;
  font-size: 12px;
  color: #696969;
}


#slider .ticks {
      font-size: 10px;
    }

    #slider  .track,
    #slider  .track-inset,
    #slider  .track-overlay {
      stroke-linecap: round;
    }

    #slider .track {
      stroke: #000;
      stroke-opacity: 0.3;
      stroke-width: 5px;
    }

    #slider  .track-inset {
      stroke: #e9ecef;
      stroke-width: 4px;
    }

    #slider .track-overlay {
      pointer-events: stroke;
      stroke-width: 50px;
      stroke: transparent;
      cursor: crosshair;
    }

    #slider .handle {
      fill: #fff;
      stroke: #000;
      stroke-opacity: 0.5;
      stroke-width: 1.25px;
    }

    div.tooltip {	
      text-align: center;			
      width: 200px;					
      height: 28px;					
      padding: 2px;				
      font: 12px sans-serif;		
      background: rgb(220, 223, 226);	
      border: 0px;		
      border-radius: 8px;			
      pointer-events: none;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
    margin-left: 29px;
    margin-bottom: 0px;
    margin-top: 3px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  foreignObject{
    font-size: small;
  }

  .day   { background: white; color: black; }
  .night { background: #333; color: white; }
  
  @media (prefers-color-scheme: dark) {
    .day.dark-scheme   { background:  #333; color: white; border: 1px solid #333;}
    .night.dark-scheme { background: black; color:  #ddd; }
  }
  
  @media (prefers-color-scheme: light) {
    .day.light-scheme   { background: white; color:  #555; }
    .night.light-scheme { background:  white; color: black; }
  }
  
  .scale {
    height: 12px;
    background: linear-gradient(to right, #ffff99 0%, #ff6600 100%);
    border: 1px solid black;
    margin-top: 2px;
  }