.node .selected {
  stroke: rgb(83, 185, 199);
}

.node {
  stroke: rgb(158, 147, 147);
}

.link {
  stroke: rgb(158, 147, 147);
}

.bar {
  fill: steelblue;
  opacity: 0.2;
}

/* .axis {
	font: 10px sans-serif;
} */

.axis path,
.axis line {
  fill: none;
  /* stroke: #D4D8DA; */
  stroke-width: 0.5px;
  shape-rendering: crispEdges;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #72cccc;
  /* stroke: steelblue;
  stroke-width: 5px; */
}
  
.hover-line {
  stroke: steelblue;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
	clip-path: url(#clip);
}


#slider body {
  font-family:"avenir next", Arial, sans-serif;
  font-size: 12px;
  color: #696969;
}


#slider .ticks {
      font-size: 10px;
    }

    #slider  .track,
    #slider  .track-inset,
    #slider  .track-overlay {
      stroke-linecap: round;
    }

    #slider .track {
      stroke: #000;
      stroke-opacity: 0.3;
      stroke-width: 5px;
    }

    #slider  .track-inset {
      stroke: #e9ecef;
      stroke-width: 4px;
    }

    #slider .track-overlay {
      pointer-events: stroke;
      stroke-width: 50px;
      stroke: transparent;
      cursor: crosshair;
    }

    #slider .handle {
      fill: #fff;
      stroke: #000;
      stroke-opacity: 0.5;
      stroke-width: 1.25px;
    }

    div.tooltip {	
      text-align: center;			
      width: 200px;					
      height: 28px;					
      padding: 2px;				
      font: 12px sans-serif;		
      background: rgb(220, 223, 226);	
      border: 0px;		
      border-radius: 8px;			
      pointer-events: none;
  }

/*   .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.99);
    overflow-x: hidden;
    transition: 0.5s;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: black;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  width: 400px;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px;
  }
} */
